<div class="popup-modal">

  <div class="popup-container">
    <div class="popup-body">
      <div class="popup-close" ng-click="closeConfig()">×</div>

      <div class="btn-group pull-right" style="margin-top: 4px;">
        <button class="btn btn-blank" {{action "addOneInstance" on="click"}}>+</button>
        <button class="btn btn-blank" {{action "removeOneInstance" on="click"}}>-</button>
        <!-- {{#if C.isLocal}} -->
          <button disabled="disabled" class="btn btn-blank" style="width: 200px;text-align:left;">{{model.instances}} instance{{model.pluralInstances}}</button>
        <!-- {{else}} -->
          <button disabled="disabled" class="btn btn-blank" style="width: 200px;text-align:left;">{{model.containersLabel}} instance{{model.pluralInstances}} ({{model.instances}} Requested)</button>
        <!-- {{/if}} -->
      </div>

      <div class="popup-icon"></div>

      <h1 class="popup-title"> {{flowlet.name}}</h1>

      <flowletviz flowlet="flowlet"></flowletviz>

    </div>
  </div>
</div>