<div id="info">
  <startstopconfig entity="flow"></startstopconfig>
  <div class="info-box sparkline-box app-processed">
    <div class="sparkline-box-value" style="display: block;">
      <delay-counter metric-endpoint="{{flow.getEventsProcessedEndpoint()}}"></delay-counter>
      <span>EPS</span>
    </div>
    <div class="sparkline-box-title">Processing Rate</div>
    <div class="sparkline-box-container">
      <sparkline data="processingRate"></sparkline>
    </div>
  </div>
  <div class="info-box sparkline-box app-busyness">
    <div class="sparkline-box-value" style="display: block;">
      <delay-counter metric-endpoint="{{flow.getBusynessEndpoint()}}" percent="true"></delay-counter>
    </div>
    <div class="sparkline-box-title">Busyness</div>
    <div class="sparkline-box-container">
      <sparkline data="busyness"></sparkline>
    </div>

  </div>

</div>
<div id="panels">
    <div id="informer"></div>
    <div class="panel">
    <div id="flowviz-container">
        <div class="btn-group" style="float: left;">
            <button class="btn btn-blank dropdown-toggle" data-toggle="dropdown" style="padding-left:14px;float: right;"><!--{{flowletLabelName}}--> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a>Flowlet Rate</a></li> <!--{{action "setFlowletLabel" "rate"}}-->
                <li><a>Flowlet Pending</a></li> <!--{{action "setFlowletLabel" "pending"}}-->
                <li><a>Flowlet Processed</a></li> <!--{{action "setFlowletLabel" "aggregate"}}-->
            </ul>
        </div>
        <flowviz data="flow" type="rate"></flowviz>
    </div>
  </div>
</div>
<div ui-view></div>
