<td class="app-list-name">
    <a href="#/apps/{{flow.app}}/flows/{{flow.id}}">{{flow.name}}</a><br />
    <status status-endpoint="{{flow.getStatusEndpoint()}}"></status>
</td>
<td style="max-width:262px;">
    <delay-counter metric-endpoint="{{flow.getBusynessEndpoint()}}"></delay-counter>
    <div class="sparkline-list-container">
      <sparkline metric-endpoint="{{flow.getBusynessEndpoint()}}"></sparkline>
    </div>
</td>
<td style="max-width:262px;">
    <delay-counter metric-endpoint="{{flow.getBusynessEndpoint()}}" percent="true"></delay-counter>
    <div class="sparkline-list-container">
      <sparkline metric-endpoint="{{flow.getBusynessEndpoint()}}"></sparkline>
    </div>
</td>