<div id="info">
  <startstopconfig entity="procedure"></startstopconfig>
  <div class="info-box sparkline-box">

    <div class="sparkline-box-value" style="display: block;">
      <delay-counter metric-endpoint="{{procedure.getRequestRateEndpoint()}}"></delay-counter>
      <br><span>EPS</span></div>
    <div class="sparkline-box-title">Successful</div>
    <div class="sparkline-box-container">
      
      <sparkline data="{{procedure.getRequestRateEndpoint()}}"></sparkline>
    </div>
  </div>
  <div class="info-box sparkline-box">
    <div class="sparkline-box-value" style="display: block;">
      <delay-counter metric-endpoint="{{procedure.getErrorRateEndpoint()}}"></delay-counter>
      <br><span>EPS</span></div>
    <div class="sparkline-box-title">Failed</div>
    <div class="sparkline-box-container">
      
      <sparkline data="{{procedure.getErrorRateEndpoint()}}"></sparkline>
    </div>
  </div>
</div>
<div id="panels">

  <div class="panel">
  <div class="panel-head">
      <div class="btn-group pull-right" ng-if="procedure.running">
        <button class="btn btn-blank" {{action "addOneInstance" on="click"}}>+</button>
        <button class="btn btn-blank" {{action "removeOneInstance" on="click"}}>-</button>

        <!--{{#if C.isLocal}}-->
          <button disabled="disabled" class="btn btn-blank" style="width: 200px;text-align:left;"><!--{{model.instances}} instance{{model.pluralInstances}}--></button>
        <!--{{else}}-->
          <button disabled="disabled" class="btn btn-blank" style="width: 200px;text-align:left;"><!--{{actualInstances}} ({{model.instances}} Requested)--></button>
        <!--{{/if}}-->

      </div>

    <div class="panel-title">Make a Request</div></div>

    <table style="width: 100%" class="top-aligned">
      <thead>
      <tr>
        <th style="width: 140px;text-align: left;">Method</th>
        <th style="text-align: left;">Parameters</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            <input id="method-name" />
        </td>
        <td>
            <textarea id="flow-injector-input"></textarea>
            <br />
            <br />
            <div ng-if="status.toLowerCase() === 'running'">
                <button id="execute-button" {{action "submit"}} class="btn btn-blank">Execute</button>
            </div>

            <div ng-if="status.toLowerCase() !== 'running'">
                <button disabled="disabled" class="btn btn-blank">Click "Start" Above</button>
            </div>

        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel" style="padding: 10px;">
    <textarea class="well query-response"></textarea>
  </div>

</div>
<div ui-view></div>