<table class="table" ng-if="apps.length">
  <thead>
  <th>&nbsp;</th>
    <th style="text-align: center;width:64px;">Collect</th>
    <th style="text-align: center;width:64px;">Process</th>
    <th style="text-align: center;width:64px;">Store</th>
    <th style="text-align: center;width:64px;">Query</th>
  <th style="width: 262px;">Busyness</th>
  </thead>
  <tbody>
    <tr ng-repeat="app in apps">
      <td class="app-list-name">
      <a ng-href="/#/apps/{{app.name}}">{{app.name}}</a>
      <br />
      <span class="app-list-status">{{app.description}}</span>

      </td>
      <td class="app-list-count">{{app.streams.length}}</strong></td>
      <td class="app-list-count">{{app.flows.length + app.mapreduces.length + app.workflows.length}}</strong></td>
      <td class="app-list-count">{{app.datasets.length}}</strong></td>
      <td class="app-list-count">{{app.procedures.length}}</strong></td>
      <td style="max-width:264px; height: 45px">
        <delay-counter data="app.data.data" percent="true"></delay-counter>
        <div class="sparkline-list-container">
          <sparkline data="app.data.data"></sparkline>
      </td>
    </tr>
  </tbody>
</table>
<div class="object-list-empty" ng-if="!apps.length">
  <div class="object-list-empty-content">
    <div>No Applications.</div>
    <span>Load an Application by clicking the button above.</span>
  </div>
</div>
