<div id="title">
      <div ng-include="'/core/partials/timeselector.html'"></div>
      <h1><span>Data</span> Process</h1>
</div>

<div id="panels">
  <div class="panel">
    <table class="table" ng-if="flows.length">
      <thead>
        <th style="padding-left: 14px;">Flows</th>
        <th style="width: 262px;">Proces sing Rate (EPS)</th>
        <th style="width: 262px;">Busyness</th>
      </thead>
      <tbody>
        <tr>
          <td class="app-list-name">
          <a {{bindAttr href="href"}}>{{name}}</a><br /><span class="app-list-status app-status">{{currentState}}</span>
          </td>
          <td style="max-width:262px;"></td>
          <td style="max-width:262px;"></td>
        </tr>
      </tbody>
    </table>
    <div class="object-list-empty">
      <div class="object-list-empty-content">
        <div>No Flows.</div>
        <span>Add Flows by uploading an Application JAR.</span>
      </div>
    </div>
    <table class="table">
      <thead>
        <th style="padding-left: 14px;">Mapreduce</th>
        <th style="width: 262px;">Mapping Status</th>
        <th style="width: 262px;">Reducing Status</th>
      </thead>
      <tbody>
        <tr>
          <td class="app-list-name">
          <a {{bindAttr href="href"}}>{{name}}</a><br /><span class="app-list-status app-status">{{currentState}}</span>
          </td>
          <td style="max-width:262px;"></td>
          <td style="max-width:262px;"></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <th style="padding-left: 14px;">Workflows</th>
      </thead>
      <tbody>
        <tr>
          <td class="app-list-name">
          <a {{bindAttr href="href"}}>{{name}}</a><br /><span class="app-list-status app-status">{{currentState}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>