<div id="title">
      <div ng-include="'/core/partials/timeselector.html'"></div>
      <h1><span>Data</span> Process</h1>
</div>

<div id="panels">
  <div class="panel">
    <table class="table" ng-if="flows.length">
      <thead>
        <th style="padding-left: 14px;">Flows</th>
        <th style="width: 262px;">Processing Rate (EPS)</th>
        <th style="width: 262px;">Busyness</th>
      </thead>
      <tbody>
        <tr ng-repeat="flow in flows" ng-include="'/templates/partials/flows-list.html'"></tr>
      </tbody>
    </table>
    <div ng-if="!flows.length">
      <div ng-include src="'/templates/partials/no-flows.html'" include-replace></div>
    </div>
    <table class="table">
      <thead>
        <th style="padding-left: 14px;">Mapreduce</th>
        <th style="width: 262px;">Mapping Status</th>
        <th style="width: 262px;">Reducing Status</th>
      </thead>
      <tbody>
        <tr ng-repeat="mapreduce in mapreduces" ng-include="'/templates/partials/mapreduces-list.html'">
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <th style="padding-left: 14px;">Workflows</th>
      </thead>
      <tbody>
        <tr ng-repeat="workflow in workflows" ng-include="'/templates/partials/workflows-list.html'">
        </tr>
      </tbody>
    </table>
  </div>
</div>