<div id="title">
  <ul class="nav nav-pills pull-right" style="margin: 2px 14px;">
    <li></li>
    <li></li>
    <li></li>
    <!--<li>{{#linkTo FlowStatus model}}Status{{/linkTo}}</li>
    <li>{{#linkTo Flow.Log model}}Log{{/linkTo}}</li>
    <li>{{#linkTo Flow.History model}}History{{/linkTo}}</li>-->
  </ul>
  <h1><span>Flow </span>{{flow.name}}</h1>
</div>

    <div id="info">
      <div class="info-box" style="float: right; border: 0;padding-right: 14px;padding-left: 0px;">
        <div id="action-buttons" class="btn-group pull-right">
          <button class="btn btn-blank dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="flow in flows" style="min-width:200px; padding:4px 16px 2px;">

                <div><strong><!--{{k}}--></strong><!--: {{v}}-->

            </li>
          </ul>

          <button class="btn btn-blank start-stop" {{bindAttr disabled="model.startStopDisabled"}} style="width:64px;" {{action "exec" on="click"}}><span {{bindAttr class="model.actionIcon"}}></span><span><!--{{model.defaultAction}}--></span></button>
          <button class="btn btn-blank btn-icon" style="border-right:0;" {{bindAttr disabled="model.startStopDisabled"}} {{action "config"}}><span class="btn-config"></span></button>
        </div>
        <div class="flow-state"><strong><!--{{model.currentState}}--></strong></div>
      </div>

      <div class="info-box sparkline-box app-processed"><!--{{view C.Embed.Chart metrics="/reactor/apps/{parent}/flows/{id}/process.events.processed" title="Processing Rate"}}--></div>
      <div class="info-box sparkline-box app-busyness"><!--{{view C.Embed.Chart metrics="/reactor/apps/{parent}/flows/{id}/process.busyness" title="Busyness" unit="percent"}}--></div>

    </div>

    <div id="panels">
      <div id="informer"></div>
      <div class="panel">
        <div id="flowviz-container">

          <div class="btn-group" style="float: left;">
            <button class="btn btn-blank dropdown-toggle" data-toggle="dropdown" style="padding-left:14px;float: right;">
              <!--{{flowletLabelName}}--> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a {{action "setFlowletLabel" "rate"}}>Flowlet Rate</a></li>
              <li><a {{action "setFlowletLabel" "pending"}}>Flowlet Pending</a></li>
              <li><a {{action "setFlowletLabel" "aggregate"}}>Flowlet Processed</a></li>
            </ul>
          </div>

          <!--{{view C.Embed.Visualizer viewName="visualizer"}}-->
        </div>
      </div>
    </div>

    <!--{{outlet}}-->