<div id="title">
  <!--{{view C.Embed.TimeSelector}}-->
  <ul class="nav nav-pills pull-right" style="margin: 2px 14px;">
    <li><!--{{#linkTo MapreduceStatus model}}Status{{/linkTo}}--></li>
    <li><!--{{#linkTo Mapreduce.Log model}}Log{{/linkTo}}--></li>
    <li><!--{{#linkTo Mapreduce.History model}}History{{/linkTo}}--></li>
  </ul>
  <h1><span>Mapreduce</span> {{mapreduce.name}}</h1>
</div>

<div id="info">

  <div class="info-box" style="float: right; border: 0;">
    <div id="action-buttons" class="btn-group pull-right">
      <button class="btn btn-blank" {{bindAttr disabled="model.startStopDisabled"}} style="width:64px;" {{action "exec" on="click"}}><span {{bindAttr class="model.actionIcon"}}></span><span>{{model.defaultAction}}</span></button>
      <button class="btn btn-blank btn-icon" {{bindAttr disabled="model.startStopDisabled"}} {{action "config"}}><span class="btn-config"></span></button>
    </div>
    <status status-endpoint="{{mapreduce.getStatusEndpoint()}}"></status>
    <div class="flow-state"><strong>{{model.currentState}}</strong></div>
  </div>

  <div class="info-box sparkline-box">{{view C.Embed.Chart metrics="/reactor/apps/{parent}/mapreduce/{id}/mappers/process.completion" title="Mapping" unit="percent"}}</div>
  <div class="info-box sparkline-box">{{view C.Embed.Chart metrics="/reactor/apps/{parent}/mapreduce/{id}/reducers/process.completion" title="Reducing" unit="percent"}}</div>

</div>
<div id="panels">
  <div id="informer"></div>
  <div class="panel">
    <div id="batchviz-container">
      <div id="batchviz" class="clearfix chart">
        <div class="batch-item">
          <div id="batch-map" class="batch-icon batch-map">
            <div class="info-window">
              <div class="batch-phase">MAP</div>
              <div class="mapper-icon"></div>
              <div>{{model.metricData.mappersEntriesIn}} IN</div>
              <div>{{model.metricData.mappersEntriesOut}} OUT</div>
            </div>
          </div>
          {{#if model.running}}

          <progress {{bindAttr value="model.metricData.mappersCompletion" }} max="100"></progress>
          {{/if}}
        </div>
        <div class="batch-item">
          <div id="batch-reduce" class="batch-icon batch-reduce">
            <div class="info-window">
              <div class="batch-phase">REDUCE</div>
              <div class="reducer-icon"></div>
              <div>{{model.metricData.reducersEntriesIn}} IN</div>
              <div>{{model.metricData.reducersEntriesOut}} OUT</div>
            </div>
          </div>
          {{#if model.running}}

          <progress {{bindAttr value="model.metricData.reducersCompletion" }} max="100"></progress>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="panels">
  <div id="informer"></div>
  <div class="panel">
    <div id="object-list">
      {{#if runs.length}}
        <table class="table table-condensed">
        <thead>
          <tr><th style="width: 300px;">Started</th>
          <th>Ended</th>
          <th style="width:250px;">Result</th>
          </tr>
        </thead>
        <tbody>
        {{#each runs}}
          <tr class="run-list">
            <td>{{started}}<div class="flow-run-date"> {{startDate}} </div></td>
            <td>{{ended}} <div class="flow-run-date"> {{endDate}}</div></td>
            <td>{{detail}}</td>
          </tr>
        {{/each}}
        </tbody>
        </table>
      {{else}}
        <div class="object-list-empty">
        <div class="object-list-empty-content">
        <div>No History.</div>
        <span>This Mapreduce job has not completed a run yet.</span>
        </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>