<div id="title">
  <div ng-include="'/templates/partials/overview-right-menu.html'"></div>
  <h1>Overview</h1>
</div>

<div id="panels">
  <div class="quarter" id="quarter1">
    <div class="panel">
      <div class="quarter-title">Collect</div>
      <div class="quarter-value"><strong><span class="value-number">{{getMetricDisplayValue(collect.data)}}</span></strong><span class="value-measure"> EPS</span></div>
      <div class="dash-chart">
        <sparkline data="collect.data" dash="true"></sparkline>
      </div>
    </div>
  </div>
  <div class="quarter" id="quarter2">
    <div class="panel">
      <div class="quarter-title">Process</div>
      <div class="quarter-value"><strong><span class="value-number">{{getMetricDisplayValue(process.data)}}</span></strong><span class="value-measure">%</span></div>
      <div class="dash-chart">
        <sparkline data="process.data" dash="true"></sparkline>
      </div>
    </div>
  </div>
  <div class="quarter" id="quarter3">
    <div class="panel">
      <div class="quarter-title">Store</div>
      <div class="quarter-value"><strong><span class="value-number">{{getMetricDisplayValue(store.data)}}</span></strong> <span class="value-measure">{{value.store.unit}}/s</span></div>
      <div class="dash-chart">
        <sparkline data="store.data" dash="true"></sparkline>
      </div>
    </div>
  </div>
  <div class="quarter" id="quarter4">
    <div class="panel" style="margin-right: 0;">
      <div class="quarter-title">Query</div>
      <div class="quarter-value"><strong><span class="value-number">{{getMetricDisplayValue(query.data)}}</span></strong><span class="value-measure"> QPS</span></div>
      <div class="dash-chart">
        <sparkline data="query.data" dash="true"></sparkline>
      </div>
    </div>
  </div>

  <div class="panel" style="clear: both;">
    <div class="panel-head">
      <input type="file" id="app-upload-input"/>
      <div class="panel-title">Applications</div>
      <div ng-include="'/templates/apps.html'" ng-controller="AppsCtrl"></div>
    </div>
  </div>
</div>