<div id="title">
  <ul class="nav nav-pills pull-right" style="margin: 2px 14px;">
    <li></li>
    <li></li>
  </ul>
  <h1><span>Procedure</span> {{procedure.name}}</h1>
</div>

    <div id="info">
      <div class="info-box" style="float: right; border: 0;">
        <div id="action-buttons" class="btn-group pull-right">
          <button class="btn btn-blank" {{bindAttr disabled="model.startStopDisabled"}} style="width:64px;" {{action "exec" on="click"}}>
            <span class="btn-start"><!-- this is a commented-out attribute for the preceding span -> {{bindAttr class="model.actionIcon"}}--></span>
            <span>Start
              <!--{{model.defaultAction}}-->
            </span>
          </button>

          <button class="btn btn-blank btn-icon" {{bindAttr disabled="model.startStopDisabled"}} {{action "config"}}><span class="btn-config"></span></button>

        </div>
        <div class="flow-state"><strong>{{procedure.status}}</strong></div>
      </div>

      <div class="info-box sparkline-box">
        <!--{{view C.Embed.Chart title="Successful" metrics="/reactor/apps/{parent}/procedures/{id}/query.requests"}}-->
        <div class="sparkline-box-value" style="display: block;">0<br><span>EPS</span></div>
        <div class="sparkline-box-title">Successful</div>
        <div class="sparkline-box-container"></div>
      </div>
      <div class="info-box sparkline-box">
        <!--{{view C.Embed.Chart title="Failed" metrics="/reactor/apps/{parent}/procedures/{id}/query.failures"}}-->
        <div class="sparkline-box-value" style="display: block;">0<br><span>EPS</span></div>
        <div class="sparkline-box-title">Failed</div>
        <div class="sparkline-box-container"></div>
      </div>
    </div>
    <div id="panels">

      <div class="panel">
      <div class="panel-head">

        <!--{{#if model.running}}-->
          <div class="btn-group pull-right" ng-if="procedure.running">
            <button class="btn btn-blank" {{action "addOneInstance" on="click"}}>+</button>
            <button class="btn btn-blank" {{action "removeOneInstance" on="click"}}>-</button>

            <!--{{#if C.isLocal}}-->
              <button disabled="disabled" class="btn btn-blank" style="width: 200px;text-align:left;"><!--{{model.instances}} instance{{model.pluralInstances}}--></button>
            <!--{{else}}-->
              <button disabled="disabled" class="btn btn-blank" style="width: 200px;text-align:left;"><!--{{actualInstances}} ({{model.instances}} Requested)--></button>
            <!--{{/if}}-->

          </div>
        <!--{{/if}}-->

        <div class="panel-title">Make a Request</div></div>

        <table style="width: 100%" class="top-aligned">
          <thead>
          <tr>
            <th style="width: 140px;text-align: left;">Method</th>
            <th style="text-align: left;">Parameters</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
                <textarea id="method-name"></textarea>
                <!--{{view C.Embed.TextField valueBinding="controllers.Procedure.requestMethod" id="method-name"}}-->
            </td>
            <td>
                <textarea id="flow-injector-input"></textarea>
                <br />
              <!--{{view C.Embed.Injector valueBinding="controllers.Procedure.requestParams"}}--><br />
              <!--{{#if model.running}}-->
                <div ng-if="procedure.running">
                    <button id="execute-button" {{action "submit"}} class="btn btn-blank">Execute</button>
                </div>

                <div ng-if="!procedure.running">
                    <button disabled="disabled" class="btn btn-blank">Click "Start" Above</button>
                </div>

            </td>

          </tr>
          </tbody>
        </table>
      </div>

      <div class="panel" style="padding: 10px;">
        <textarea class="well query-response"></textarea>
        <!--{{view Ember.TextArea valueBinding="responseBody" classNames="well query-response"}}-->
      </div>

    </div>

    <!--{{outlet}}-->