<div id="title">
  <ul class="nav nav-pills pull-right" style="margin: 2px 14px;">
    <li><a ui-sref-active="active" ui-sref="proceduresDetail.status({appId:procedure.app, procedureId: procedure.name})">Status</a></li>
    <li><a ui-sref-active="active" ui-sref="proceduresDetail.log({appId:procedure.app, procedureId: procedure.name})">Log</a></li>
    <li><a ui-sref-active="active" ui-sref="proceduresDetail.history({appId:procedure.app, procedureId: procedure.name})">History</a></li>
  </ul>
  <h1><span>Procedure</span> {{procedure.name}}</h1>
</div>
<div ui-view></div>