<div id="title">
      <div ng-include="'/core/partials/timeselector.html'"></div>
      <h1><span>Data</span> Query</h1>
</div>

<div id="panels">
  <div class="panel">
    <table class="table" ng-if="procedures.length">
      <thead>
        <th style="padding-left: 14px;">Procedures</th>
        <th style="width: 262px; text-align: center">Request Rate</th>
        <th style="width: 262px; text-align: center">Error Rate</th>
      </thead>
    <tbody>
        <tr ng-repeat="procedure in procedures" ng-include="'/templates/partials/procedures-list.html'"></tr>
    </tbody>
    </table>
    <div ng-if="!procedures.length">
      <div ng-include src="'/templates/partials/no-procedures.html'" include-replace></div>
    </div>
  </div>
</div>