<div id="title">
  <h1><span>Stream</span> {{stream.name}}</h1>
</div>
<div id="info">
  <div class="info-box sparkline-box"></div>
  <div class="info-box" style="text-align: center;">
    <div class="sparkline-box-title">Storage</div>
    <div class="sparkline-box-value" style="padding-left: 0;padding-top:19px;width: 100px;"><br /><span></span></div>
  </div>
  <div class="info-box" style="text-align: center;">
    <div class="sparkline-box-title">Events</div>
    <div class="sparkline-box-value" style="padding-top:19px;padding-left:0;width:100px;"><br /><span>Events</span></div>
  </div>
</div>
<div id="panels">
  <div class="panel">
  <div class="panel-head"><div class="panel-title">Attached Flows</div></div>
  </div>
</div>

    <div id="info">
      <div class="info-box sparkline-box">{{view C.Embed.Chart title="Arrival Rate" metrics="/reactor/streams/{id}/collect.events"}}</div>
      <div class="info-box" style="text-align: center;">
        <div class="sparkline-box-title">Storage</div>
        <div class="sparkline-box-value" style="padding-left: 0;padding-top:19px;width: 100px;">{{model.storageLabel}}<br /><span>{{model.storageUnits}}</span></div>
      </div>
      <div class="info-box" style="text-align: center;">
        <div class="sparkline-box-title">Events</div>
        <div class="sparkline-box-value" style="padding-top:19px;padding-left:0;width:100px;">{{model.eventsLabel}} {{model.eventsUnits}}<br /><span>Events</span></div>
      </div>
    </div>
    <div id="panels">
      <div class="panel">
      <div class="panel-head"><div class="panel-title">Attached Flows</div></div>

        {{partial "flows-list"}}

      </div>
    </div>