<div id="title">
      <div ng-include="'/core/partials/timeselector.html'"></div>
      <h1><span>Data</span> Collect</h1>
</div>

<div id="panels">
  <div class="panel">
    <table class="table" ng-if="streams.length">
    <thead ng-include src="'/templates/partials/streams-table-header.html'" include-replace></thead>
    <tbody>
        <tr ng-repeat="stream in streams" ng-include="'/templates/partials/streams-list.html'">
        </tr>
    </tbody>
    </table>
    <div ng-if="!streams.length">
      <div ng-include src="'/templates/partials/no-stream.html'" include-replace></div>
    </div>
  </div>
</div>