
<div id="title">
  <ul class="nav nav-pills pull-right" style="margin: 2px 14px;">
    <li>{{#linkTo WorkflowStatus model}}Status{{/linkTo}}</li>
    <li>{{#linkTo Workflow.History model}}History{{/linkTo}}</li>
  </ul>
  <h1><span>Workflow</span> {{model.name}}</h1>
</div>

<div id="info">
  <div class="info-box">
    <div id="workflow-next-run" style="float: left">
      <div class="sparkline-box-title">Next Scheduled Run</div>
      <div id="workflow-scheduled-runs">

        {{#if suspended}}
        <div class="flow-schedule">
            <strong>SUSPENDED</strong>
        </div>
        <div class="sparkline-box-title">Select "Resume" from the dropdown menu</div>
        {{else}}
          <div class="flow-schedule">
            <strong>{{timeToNextRun}}</strong>
          </div>
          <div class="sparkline-box-title">{{nextRunLabel}}</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="info-box" style="float: right; border: 0;">
    <div id="action-buttons" class="btn-group pull-right">

      <button class="btn btn-blank dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li style="min-width:200px; padding:4px 16px 2px;">
          Full Schedule:
          {{#each elements.Schedule}}
            <div class="sparkline-box-title">{{this.time}}</div>
          {{/each}}
          {{#unless elements.Schedule.length}}
            <div class="sparkline-box-title">No Runs</div>
          {{/unless}}
        </li>
        {{#if suspended}}
          <li><a href="#" {{action "resume" on="click"}}>Resume Schedule</a></li>
        {{else}}
          <li><a href="#" {{action "suspend" on="click"}}>Suspend Schedule</a></li>
        {{/if}}
      </ul>

      <button class="btn btn-blank" {{bindAttr disabled="model.startStopDisabled"}} style="width:64px;" {{action "exec" on="click"}}><span {{bindAttr class="model.actionIcon"}}></span><span>{{model.defaultAction}}</span></button>
      <button class="btn btn-blank btn-icon" style="border-right:0;" {{bindAttr disabled="model.startStopDisabled"}} {{action "config"}}><span class="btn-config"></span></button>

    </div>
    <div class="flow-state"><strong>{{model.currentState}}</strong></div>
  </div>

</div>

<div id="panels">
  <div id="informer"></div>
  <div class="panel">
    <div id="batchviz-container">
      <div id="workflowviz" class="clearfix chart">
        {{#each elements.Action}}
        <div class="batch-item" {{bindAttr id="divId"}} {{action loadAction this}} style="cursor: pointer;">
          <div class="batch-icon batch-map">
            <div class="info-window">
              {{#if running}}
                <div class="window-icon running"></div>
              {{else}}
                <div class="window-icon"></div>
              {{/if}}
              <div class="batch-phase">{{name}}</div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div id="panels">
  <div id="informer"></div>
  <div class="panel">
    <div id="object-list">
      {{#if runs.length}}
        <table class="table table-condensed">
        <thead>
          <tr><th style="width: 300px;">Started</th>
          <th>Ended</th>
          <th style="width:250px;">Result</th>
          </tr>
        </thead>
        <tbody>
        {{#each runs}}
          <tr class="run-list" {{action "loadRun" runid}}>
            <td>{{started}}<div class="flow-run-date"> {{startDate}} </div></td>
            <td>{{ended}} <div class="flow-run-date"> {{endDate}}</div></td>
            <td>{{detail}}</td>
          </tr>
        {{/each}}
        </tbody>
        </table>
      {{else}}
        <div class="object-list-empty">
        <div class="object-list-empty-content">
        <div>No History.</div>
        <span>This Workflow has not completed a run yet.</span>
        </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
</div>