<div id="title">
  <h1><span>Application</span> {{model.name}}</h1>
</div>

<div id="info">
  <div class="info-box" style="float: right; border: 0;padding: 0px 14px 0px 0px;">
    <div class="app-level-buttons">
        <button class="btn btn-blue force-margin-right-20" {{action "promotePrompt"}}><img class="inbtn-img" src="/assets/img/v2/push_icon.png" />Push</button>
      <button class="btn btn-blank" {{action "delete" on="click"}}><img class="inbtn-img" src="/assets/img/v2/delete_icon.png" />Delete</button>
    </div>
  </div>
  <div class="info-box sparkline-box app-processed"></div>
  <div class="info-box sparkline-box app-busyness"></div>
  <div class="info-box app-storage" style="text-align: center;">
    <div class="sparkline-box-title">Storage</div>
    <div class="sparkline-box-value" style="padding-left: 0;padding-top: 23px;width: 100px;">{{model.storageLabel}}<span>{{model.storageUnits}}</span></div>
  </div>
</div>

<div id="panels">
  <div class="panel" id="collect-panel">
    <div class="panel-head"><div class="panel-title">Collect</div></div>
  </div>
  <div class="panel" id="process-panel">

    <div class="panel-head">
        <div class="btn-group pull-right start-stop-btns" style="margin-top:2px;text-align:center;">
          <button {{action startAll "Flow" on="click"}} class="btn start"><img src="/assets/img/v2/play_icon.png" /></button>
          <img style="display: none;margin-top: 3px;" src="/assets/img/start-all-load-white.gif" />
          <button {{action stopAll "Flow" on="click"}} class="btn stop"><img src="/assets/img/v2/stop_active_icon.png" /></button>
        </div>
      <div class="panel-title">Process</div>
    </div>

  </div>
  <div class="panel" id="store-panel">
    <div class="panel-head"><div class="panel-title">Store</div></div>
  </div>
  <div class="panel" id ="query-panel">
    <div class="panel-head">
        <div class="btn-group pull-right start-stop-btns" style="margin-top:2px;text-align:center;">
          <button {{action startAll "Procedure" on="click"}} class="btn start"><img src="/assets/img/v2/play_icon.png" /></button>
          <img style="display: none;margin-top: 3px;" src="/assets/img/start-all-load-white.gif" />
          <button {{action stopAll "Procedure" on="click"}} class="btn stop"><img src="/assets/img/v2/stop_active_icon.png" /></button>
        </div>
      <div class="panel-title">Query</div>
    </div>
  </div>
</div>