<table class="table">
<thead>
  <th style="padding-left: 14px;">Procedures</th>
  <th style="width: 262px;">Request Rate</th>
  <th style="width: 262px;">Error Rate</th>
</thead>
<tbody>
    <tr>
      <td class="app-list-name">
      <a {{bindAttr href="href"}}>{{name}}</a><br /><span class="app-list-status app-status">{{currentState}}</span>
      </td>
      <td style="max-width:262px;"></td>
      <td style="max-width:262px;"></td>
    </tr>
</tbody>
</table>
<div class="object-list-empty">
  <div class="object-list-empty-content">
    <div>No Procedures.</div>
    <span>Add Procedures by uploading an Application JAR.</span>
  </div>
</div>