<div id="title">
  <div ng-include="'/partials/overview-right-menu.html'"></div>
  <h1>Resources</h1>
</div>
<div id="panels">
  <div class="quarter">
    <div class="panel">
      <div class="quarter-title">AppFabric</div>
      <div class="quarter-value"><strong>{{value.containers}}</strong> Containers</div>
    </div>
  </div>
  <div class="quarter">
    <div class="panel">
      <div class="quarter-title">Processors</div>
      <div class="quarter-value"><strong>{{value.cores}}</strong> Cores</div>
    </div>
  </div>
  <div class="quarter">
    <div class="panel">
      <div class="quarter-title">Memory</div>
      <div class="quarter-value"><strong>{{value.memory.label}}</strong>{{value.memory.unit}} / <strong>{{total.memory.label}}</strong>{{total.memory.unit}}</div>
    </div>
  </div>
  <div class="quarter">
    <div class="panel" style="margin-right: 0;">
      <div class="quarter-title">DataFabric</div>
      <div class="quarter-value"><strong>{{value.storage.label}}</strong>{{value.storage.unit}} / <strong>{{total.storage.label}}</strong>{{total.storage.unit}}</div>
    </div>
  </div>
  <div class="panel clearfix" style="clear: both;">
  </div>
</div>